body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.app-container {
  width: 400px;
  height: 100vh;
  border-right: 2px solid #eee;

}

.order-line__container {
  padding: 10px;
  height: 40px;
}

.order-line__text--bold {
  font-weight: bold;
}

.order-line__content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.order-line__row {
  display: flex;
  flex: 1;
}

.order-line__product-name {
    flex: 1;
}

.order-line__info {
  align-items: baseline;
}

.order-line__discount {
  flex: 1;
  font-size: 0.8em;
  font-style: italic;
}