@import 'normalize.css';
* {box-sizing: border-box;}
body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.app-container {
  height: 100vh;
  flex: 1;
  display: grid;
  grid-template-columns: 400px 1fr;
}

/* MainSidebar */

.main-sidebar {
  display: grid;
  border-right: 2px solid #eee;
}

/* OrderLine */

.order-line-list__total {
    height: 30px;
    font-size: 1.2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    border-top: 2px solid black;
}


.order-line__text--bold {
  font-weight: bold;
}

.order-line {
  display: grid;
  grid-template-rows: 1fr 1fr;
  min-height: 50px;
  grid-template-columns: 1fr auto;
  grid-gap: 5px;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.order-line--selected {
  background-color: #eee;
}

.order-line__product-name {
    flex: 1;
    padding-right: 10px;
}

.order-line__unit-price,
.order-line__bottom-line {
  justify-self: flex-end;
}

.order-line__unit-price--old {
  text-decoration: line-through;
  font-size: 0.8em;
  font-weight: normal;
}

.order-line__info {
  align-items: flex-end;
}

.order-line__discount {
  flex: 1;
  font-size: 0.8em;
  font-style: italic;
}

/* Main Panel*/

.main-panel {
  display: grid;
  grid-template-rows: auto 1fr;
}

/* Product */

.product-list__search-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding: 10px;
}

.product-list__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 120px);
  grid-auto-rows: 120px;
  grid-gap: 5px 10px;
  margin: 10px;
}

.product {
  position: relative;
  border: 1px solid #eee;
}

.product__price {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8em;
  color: black;
  background-color: #eee;
  padding: 2px;
  margin: 2px;
}

.product__name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.7em;
  text-align: center;
  padding: 2px;
  background-color: #eee;
}

/************************
    View.Breadcrumb
*************************/

.breadcrumb__container {
    display: flex;
    width: 400px;
    height: 80px;
}

.breadcrumb__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #ccc;
    color: white;
}

.breadcrumb__section--active {
    border-bottom: 2px solid white;
}

/************************
    View.Numpad
*************************/

.numpad__container {
    background-color: #BBBBBB;
    width: 150px;
    height: 200px;
}
.numpad__content {
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;

}

.numpad__number {
    display: flex;
    flex: 0 1 33.33%;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
}

.numpad__number--large {
    flex-basis: 66.66%;
}
